<div>
    <Card class="p-mt-2">
        <template #title>
            Create User
        </template>
        <template #content>
            <form id="creteUserForm" @submit.prevent="sendForm" method="post">
                <div class="p-grid p-fluid">
                    <div class="p-col-12 p-md-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <InputText placeholder="Username" v-model="v$.form.name.$model" />
                        </div>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <Password placeholder="Password" v-model="v$.form.password.$model"/>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <div class="p-inputgroup">
                            <div class="p-field-checkbox">
                                <Checkbox id="is_admin" v-model="form.isAdmin" :binary="true" />
                                <label for="is_admin">Admin</label>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <div class="p-inputgroup">
                            <div class="p-field-checkbox">
                                <Checkbox id="is_active" v-model="form.isActive" :binary="true" />
                                <label for="is_active">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-5">
                    </div>
                    <div class="p-col-12 p-md-2">
                        <Button :disabled="v$.form.$invalid" type="submit" label="Create" />
                    </div>
                    <div class="p-col-12 p-md-5">
                    </div>
                </div>
            </form>
        </template>
    </Card>
</div>