<div>
    <Card class="p-mt-2">
        <template #title>
            Create User
        </template>
        <template #content>
            <form id="creteUserForm" @submit.prevent="sendForm" method="post">
                <div class="p-grid p-fluid">
                    <div class="p-col-12 p-md-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <InputText placeholder="Username" disabled="disabled" v-model="v$.form.name.$model" />
                        </div>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-lock"></i>
                            </span>
                            <Password placeholder="Previous Password" :feedback="false"
                                v-model="v$.form.previousPassword.$model" />
                        </div>
                        <small v-for="(error, index) of v$.form.previousPassword.$errors" :key="index"
                            class="p-error">{{ error.$message }}</small>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-lock"></i>
                            </span>
                            <Password placeholder="New Password" v-model="v$.form.newPassword.$model" />
                        </div>
                        <small v-for="(error, index) of v$.form.newPassword.$errors" :key="index" class="p-error">{{
                            error.$message }}</small>
                    </div>
                    <div class="p-col-12 p-md-5">
                    </div>
                    <div class="p-col-12 p-md-1">
                        <Button :disabled="v$.form.$invalid" type="submit" label="Submit" :loading="isLoading" />
                    </div>
                    <div class="p-col-12 p-md-1">
                        <Button label="Cancel" @click="cancel" />
                    </div>
                    <div class="p-col-12 p-md-5">
                    </div>
                </div>
            </form>
        </template>
    </Card>
</div>