<div>
    <Toolbar class="p-mb-4">
        <template #start>
            <Button label="New" icon="pi pi-plus" class="p-button-success p-mr-2" @click="openNew" />
            <Button label="Remove" @click="deleteSelected" :loading="deleteInProgress" :disabled="selectedUsers.length === 0" icon="pi pi-times" class="p-button-danger p-mr-2"/>
        </template>
    </Toolbar>
    <DataTable :value="users" v-model:selection="selectedUsers" responsiveLayout="scroll" :loading="isLoading" @row-dblclick="editRow">
        <template #header>
            <div class="p-d-flex p-jc-between p-ai-center">
                <h3 class="p-mb-2 p-m-md-0 p-as-md-center">Users</h3>
            </div>
        </template>
        <template #empty>
            No customers found.
        </template>
        <Column selectionMode="multiple" style="width: 3rem" :exportable="false"></Column>
        <Column field="id" header="Id"></Column>
        <Column field="created" header="Created">
            <template #body="{data}">
                {{dateTime(data.created)}}
            </template>
        </Column>
        <Column field="lastLogin" header="Last Login">
            <template #body="{data}">
                {{dateTime(data.lastLogin)}}
            </template>
        </Column>
        <Column field="name" header="Name"></Column>
        <Column field="isAdmin" header="Admin">
            <template #body="{data}">
                <Checkbox v-model="data.isAdmin" :binary="true" :disabled="true" />
            </template>
        </Column>
        <Column field="isActive" header="Active">
            <template #body="{data}">
                <Checkbox v-model="data.isActive" :binary="true" :disabled="true" />
            </template>
        </Column>
    </DataTable>
</div>