<Card>
    <template #title>
        <div class="p-d-flex p-jc-between p-ai-center">
            Memory Usage
            <Button :disabled="loading" icon="pi pi-refresh" class="p-button-rounded p-button-outlined" @click="refresh" />
        </div>
    </template>
    <template #content>
        <ProgressBar :value="usedPercent" :mode="mode" :showValue="false">
            {{usedPercent}}%
        </ProgressBar>
    </template>
    <template #footer>
        Used: {{usedPercent}}% Total: {{total}} Used: {{used}} Free: {{free}} Cached: {{cached}} Available: {{available}}
    </template>
</Card>